<div class="jumbotron">
    <h1 class="display-4 text-center">About Goals App</h1>
    <hr class="my-4">
    <p class="lead text-center">An Angular app that let's you create your goals and gives you quotes 
        from the world of computing!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero reiciendis est at totam. Necessitatibus impedit aspernatur, ipsum mollitia dicta et debitis quibusdam 
        doloribus incidunt magni repudiandae aliquam voluptate iure tenetur!</p>
  </div>